body{
    background: radial-gradient(rgba(0,0,80,0.1), rgba(0,0,200,0.05));
}
.single_field{
    box-shadow: 0 0 3px rgba(200,200,200,0.8) inset;
    border-radius: 2px;
    padding: 6px;
}
.delete_clipfield{
    float: right;
}

.erklaerung{
    margin: 32px auto;
}

.kacheln{
    margin: 12px auto;
}
.space{
    padding: 8px 10px;
    margin: 4px auto;
}
.
input[type='checkbox']:after{
    content:" ";
    background-color: green;
    position: relative;
    display: inline-block;
    left: -2px;
    top: -2px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 3px green;
}

input[type='checkbox']:checked:after{
    content:" X";
    text-align: center;
    background-color: red;
    position: relative;
    display: inline-block;
    left: -2px;
    top: -2px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 3px red;
}
.clip_content{
    text-size: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
button.take_this{
    width: 36px;
    height: 36px;
    padding: 2px;
    background: url(clipboard.png);
    background-repeat:no-repeat;
    background-position: center;
}
button.take_this:hover{
    width: 36px;
    height: 36px;
    padding: 2px;
    background: url(clipboard.png);
    background-repeat:no-repeat;
    background-position: center;
    box-shadow: 0 0 4px grey;
}